html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: #2a2a2b;
    padding: 75px 0 20px;
    text-align: center;
}


h1 {
    margin: 20px 0;
    font-size: 3em
}

header h2 {
    margin: 0;
    font-size: 2em;
    color: #2a2a2b;
    padding: 20px 0;
}

header p {
    margin: 20px 0 0;
    font-size: 1.25em;
}

.header-buttons {
    margin-top: 30px;
}

.header-buttons .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: #2a2a2b;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #2a2a2b;
    border-radius: 5px;
    transition: all 0.3s ease;
    vertical-align: middle;
}

.header-buttons .btn:hover {
    background-color: #2a2a2b;
    color: #ffffff;
}

.header-buttons .icon-btn {
    display: inline-block;
    margin: 10px;
    font-size: 1.5em;
    color: #2a2a2b;
    text-decoration: none;
    transition: color 0.3s ease;
    vertical-align: middle;
    position: relative;
}

.header-buttons .icon-btn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #2a2a2b;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.header-buttons .icon-btn:hover::after {
    width: 100%;
}

.header-buttons .icon-btn:hover {
    color: #555555;
}

nav.toolbar {
    background-color: #2a2a2b;
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

nav.toolbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav.toolbar li {
    margin: 0 15px;
}

nav.toolbar a {
    color: #ffffff;
    text-decoration: none;
}

nav.toolbar a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.section {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin: 25px 0;
    text-align: center;
}

section p {
    margin: 25px 0;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 100px 0;
}